img{
    width: 6rem;
    height: 4rem;
    /* border: 2px solid black; */
}
.logo{
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */

}

.ip{
    width: 20rem;    margin: 1rem;
    /* border: 2px solid black; */

}
.ipfield{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */

}
.btns{
    margin-top: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    justify-content: center;
    /* border: 2px solid black; */

}
button{
    transition: background-color 0.3s ease-in-out;


}
button:hover{
    background-color: #2980b9;
}
.label{
    color: black;
    margin-left: 18rem;
    margin-top: -2.5rem;
    /* border: 2px solid black; */

}

@media (max-width: 500px) {
    .img {
      width: 3rem;
      height: 2rem;
    }
  
    .logo {
      margin-top: 1rem;
    }
  
    .ip {
      width: 13rem;
      margin-left: 9rem;
    }
  
    .ipfield {
      width: 14rem;
    }
  
    .btns {
      margin-top: 0.5rem;
      width: 19rem;
      margin-right: 7rem;
      align-items: center;
      margin-left: 1.2rem;
      margin-right: auto;
    }
  
    .label {
      margin-left:20rem;
      margin-top: -2.6rem;
    }
  
  }
  